# Gradle files
.gradle

# IntelliJ
*.iml
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# properties
local.properties

.DS_Store

/build
/captures
.externalNativeBuild
.cxx